<!doctype html>
<head>  
  <meta charset="UTF-8">
  <title>V-Low: {{ modele.nom }}</title>
  <link rel="stylesheet" href="../6.Site_web/static/css/calculateur.css" />
</head>

<body>
{% for categorie in modele.categories %}
<div class=Categorie>
  <h1>
    {{ categorie.nom }}
  </h1>
  {% for donnee in categorie.donnees %}
    <div class={{ donnee.__class__.__name__ }} id={{ donnee.notation }}_div>
      <h2>
        {{ donnee.nom }}    
        <button type="button" onclick="infos('{{ donnee.notation }}')">?</button> </h2>
      <p>
        {{ donnee.notation }} =
        <input id={{ donnee.notation }} class="valeur" type="number" step=0.001 value={{ donnee.valeur }} onblur="calculate()" >
      </p>
      <div class="Description" id="{{ donnee.notation }}_description">{{ donnee.description|safe }}</div>
    </div>
  {% endfor %}
</div>
{% endfor %}
</body>

<script>
function calculate()
{
  {% for entree in modele.entrees %}
  var {{ entree.notation }} = parseFloat(document.getElementById('{{ entree.notation }}').value);
  {% endfor %}
  {% for sortie in modele.sorties %}
  document.getElementById('{{ sortie.notation }}').value = roundDecimal({{ sortie.calcul }},2);
  var {{ sortie.notation }} = parseFloat(document.getElementById('{{ sortie.notation }}').value);
  {% endfor %}
}

function infos(object)
{
  var description = document.getElementById(object+"_description");
  if (description.style.display == "block") {
    description.style.display = "none";
  } else {
    description.style.display = "block";
  }
}

function roundDecimal(nombre, precision)
{
	var precision = precision || 2;
	var tmp = Math.pow(10, precision);
	return Math.round( nombre*tmp )/tmp;
}

function setCalculateOnEnter() {
  var inputs = document.getElementsByClassName('valeur');
  for (var i = 0; i < inputs.length; i++) {
    inputs[i].addEventListener("keydown", function(event) {
      if (event.keyCode === 13) {
          calculate();
       }
    });
  }
}
setCalculateOnEnter()
calculate();
</script>