
/* masque les flèches dans les input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

button {
  font-size: 80%;
}

body {
  font-size: 40%;
  width: max-content;
  overflow: scroll;
}

.Categorie {
  margin: 1em;
  display: inline-block;
  vertical-align: top;
}

.Entree, .Sortie {
  display: block;
  border: 1px solid black;
  margin: 1em 0;
  padding: 0 1em;
}

.Entree {
  background-color:  #ccffcc;
}

.Sortie {
  background-color: #ffcccc;
}

.Entree input, .Sortie input {
  width: 5em;
}

.Sortie input {
  /* empêche la modification des valeurs */
  pointer-events: none; 
}

.Description {
  /* masque les descriptions par défaut */
  display: none;
}